<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="DiscouragedApi">
        <activity
            android:name=".component.TypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>