<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="DiscouragedApi">
        <activity
            android:name=".component.activate.ActivateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.forget.ForgetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>